[2014-01-22 16:39] gijzelaerr opened #1 "GDBM does not support large databases (> 2 GB)"
This is probably something with 32 bit addressing. We switched to QDBM to address this issue, but the debian packages don't ship with the GDBM compatibility include files anymore. We need to check:
- if the newer GDBM libraries still have this issue
- If so try to solve it, or make a QDBM package that includes the compatibility stuff.

[2014-02-04 10:17] o-smirnov opened #3 "Missing redhood_300 icon on browser startup"
First reported here: https://github.com/ska-sa/meqtrees-cattery/issues/1

[2014-02-11 13:51] SpheMakh opened #4 "Cuda support"
I installed meqtrees-timba using the instructions on https://launchpad.net/~ska-sa/+archive/main/ .    After rebooting, my laptop only runs on limited graphics. I suspect that the installation was built with cuda-support, is there an build without cuda-support.

[2014-02-14 13:15] #3 closed, assigned to gijzelaerr

[2014-02-20 12:34] #4 closed, assigned to gijzelaerr

[2014-03-04 12:17] gijzelaerr opened #5 "shared librares have no version number in name"
debian lintian gives

[code]

[2014-03-04 12:18] gijzelaerr opened #6 "Some binaries are uselessly linked against some libraries"
debian lintian gives

[code]

[2014-03-04 12:18] gijzelaerr opened #7 "Missing symbols in some libraries"
lintian gives:

[code]

[2014-03-13 17:01] o-smirnov opened #8 "UVInterpolWave produces NANs in output when frequencies don't quite overlap"
The brick tends to sometimes produces NANs in the missing channels, when the requested frequency is slightly out of range of the FITS frequencies. Correct behaviour should be to reuse the first (or last) frequency plane for the out-of-range channels.

[2014-04-04 14:49] gijzelaerr opened #9 "make work with blitz++ 0.10"
it looks like the API changed for blitz++ 0.10

http://upstream-tracker.org/versions/blitz.html
https://github.com/ska-sa/meqtrees-timba-debian/issues/4
https://launchpadlibrarian.net/171786536/buildlog_ubuntu-trusty-amd64.meqtrees-timba_1.3.1-1trusty_FAILEDTOBUILD.txt.gz

[2014-04-08 07:59] gijzelaerr opened #10 "can't build on i386 Ubuntu 14.04"
build log:

https://launchpad.net/~ska-sa/+archive/main/+build/5879008

error seems too be related to missing `forward11` decleration:

[code]

[2014-07-01 15:41] sjperkins opened #11 "fwhm term in Gaussian Computation can be factored out"
The **fwhm** term used to divide in the following [lines](https://github.com/ska-sa/meqtrees-timba/blob/master/MeqNodes/src/PSVTensor.cc#L561-L562) can be removed since it is multiplied through in [this line](https://github.com/ska-sa/meqtrees-timba/blob/master/MeqNodes/src/PSVTensor.cc#L602).

The following simplifications can be made:

[code]

I've confirmed this with test cases in montblanc. Se

[2014-09-08 02:48] IanHeywood opened #13 "log10 meqnode"
I'm trying to implement a direct model of B1934-638 whose spectrum is adequately described by a polynomial in log space.

I'm defining a new node that is the log of the frequency in MHz using Meq.Freq:

[code]

then passing that to a polynomial to determine the Stokes I flux. But looking [here](https://github.com/ska-sa/meqtrees-timba/blob/master/MeqNodes/src) suggests that there's only a natural

[2014-09-10 11:30] #13 closed, assigned to o-smirnov

[2014-11-28 17:31] SpheMakh opened #14 "Report error when refering to TDL section that does not exist."
The meqtree-pipeliner doesn't report an error when the TDL section doesn't exist in the TDL profiles.

[2015-01-09 14:46] o-smirnov commented on #9
...though I fear moving to blitz 0.10 may be even uglier. *Whatever happened to backwards compatibility, mofos?*

[2015-01-09 14:52] gijzelaerr commented on #9
Folkert is working on that now

Op vr 9 jan. 2015 15:46 schreef Oleg Smirnov <notifications@github.com>:

[2015-01-09 14:58] gijzelaerr commented on #9
https://github.com/ska-sa/meqtrees-timba/pull/15

[2015-01-09 15:00] gijzelaerr commented on #10
this is actually a blitz++ 0.10 problem

[2015-01-09 15:00] #10 closed

[2015-01-09 15:02] o-smirnov commented on #9
Haha, that was quick. I stand duly shamed. :)

[2015-01-26 11:27] gijzelaerr opened #16 "travis-ci doesn't support ubuntu 14.04"
we run a test compilation on travis-ci, but we need casacore for that. Currently we only maintain casacore packages for ubuntu 14.0.

[2015-01-26 11:27] gijzelaerr commented on #9
fixed

https://github.com/ska-sa/meqtrees-timba/commit/74daf5a7a9fa03b4fd8c325a5cd3c8f052900a54

[2015-01-26 11:27] #9 closed

[2015-02-12 08:34] griffinfoster opened #18 "not compiling on ubuntu 14.04 with new blitz lib fix"
I attempted to compile 74daf5a / v1.3.4 on ubuntu 14.04 (my laptop and elwood), and i get the follow compile error, looks like a blitz issue:

[  4%] Built target timbase
[  6%] Built target viscube
Scanning dependencies of target dmi
[  7%] Built target meqmpi
[ 16%] Built target octopussy
[ 19%] Built target appagent
[ 19%] Building CXX object DMI/CMakeFiles/dmi.dir/src/NumArrayFuncs3.cc.o
[ 22%

[2015-02-12 08:35] gijzelaerr commented on #18
what is the blitz version you are using?

probably it is 0.11, which is actually 0.9. You should deinstall that one and make sure 0.10 gets installed.

also make sure you are using the new PPA (radio-astro), and not the old (ska-sa):

https://launchpad.net/~radio-astro/+archive/ubuntu/main

[2015-02-12 08:37] griffinfoster commented on #18
I think it would be useful to have it working on the blitz that is on our
main machines (jake/elwood) and what comes with ubuntu as default?

On Thu, Feb 12, 2015 at 10:35 AM, Gijs Molenaar <notifications@github.com>
wrote:

[2015-02-12 08:37] gijzelaerr commented on #18
that is 0.10

[2015-02-12 08:40] griffinfoster commented on #18
i don't think it works with 0.10 then

On Thu, Feb 12, 2015 at 10:37 AM, Gijs Molenaar <notifications@github.com>
wrote:

[2015-02-12 08:45] gijzelaerr commented on #18
just tried a build of 1.3.4 on jake with blitz 0.10, seems to work.

Why don't you use the package?

[2015-02-12 08:49] griffinfoster commented on #18
i can confirm v1.3.3 compiles on elwood and my laptop (both with blitz
1.0.10), but i can't get v1.3.4 to compile Which library paths are you
using?

On Thu, Feb 12, 2015 at 10:45 AM, Gijs Molenaar <notifications@github.com>
wrote:

[2015-02-12 08:52] gijzelaerr commented on #18
/usr/lib

i'll get access to elwood and investigate what is the problem here. Until then I just suggest to use the packages from the radio-astro PPA.

[2015-02-12 08:55] griffinfoster commented on #18
I might be missing something but there is no blitz library on jake in
/usr/lib . When I try bootstrap_cmake on jake I get the following:

Configuring release
executing cmake -DCMAKE_BUILD_TYPE=RELEASE
/home/foster/meqtrees/meqtrees-timba
-- The CXX compiler identification is GNU 4.8.2
-- The C compiler identification is GNU 4.8.2
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working

[2015-02-12 09:17] gijzelaerr commented on #18
ah sorry, I build the packages in a chroot. The development packages for blitz are not installed on jake, since meqtrees is installed there using packages. Why don't you want to use the package?

[2015-02-12 09:46] gijzelaerr commented on #18
to wrap up, 0.3.3 should compile with blitz 0.9 (or the 'fake' 0.11 release), 0.3.4 should compile with 0.10. We modified timba in 0.3.4 to compile with the vanilla blitz shipped with ubuntu (0.10). If blitz gives you problems make sure you have the 0.10 package installed on your laptop.

Jake currently has the 0.10 package installed. I can't access elwood at the moment but I think it uses still t

[2015-02-12 11:48] gijzelaerr commented on #18
Ok solved. there where 2 problems. on @griffinfoster his laptop the ska-sa PPA blitz (0.11) library was installed. Removed it and installed the new radio-astro launchpad PPA. On jake & elwood the blitz dev package was not installed, so you just could not compile meqtrees-timba.

[2015-02-12 11:48] #18 closed

[2015-06-18 11:38] twillis449 opened #22 "UVBrick won't compile with casacore 2"
Unfortunately the code images/Images/ImageFFT seems to have  disappeared from casacore 2. The UV Brick calls some functions from ImageFFT so it currently will not compile with casacore 2.

[2015-06-18 12:19] ludwigschwardt commented on #22
Yes,

Casacore got more "core" in the latest release. The whole of Components
also vanished...

Regards,

Ludwig

On 18 June 2015 at 13:38, Tony Willis <notifications@github.com> wrote:

[2015-06-18 12:23] o-smirnov commented on #22
Hmmm, if it's only the one ImageFFT class that's gone missing, could we
just absorb it into the Timba codebase?

On Thu, Jun 18, 2015 at 2:19 PM Ludwig Schwardt <notifications@github.com>
wrote:

[2015-06-18 16:41] twillis449 commented on #22
I suspect that would be the easiest solution.  Or maybe just copy over the needed functions and integrate them into the UVBrick. (The UVBrick only calls three ImageFFT functions, but these functions do call some other ImageFFT functions.)

[2015-06-18 16:53] gijzelaerr commented on #22
or complain and wait a bit more upstream. I believe some things have been removed or moved to CASA since they where too telescope specific. I don't have the knowledge to judge if that was a fair decision. Maybe this should be reintroduced in 2.1.

[2015-06-18 17:13] twillis449 commented on #22
Well, I have complained in the casacore 'Issues' list https://github.com/casacore/casacore/issues/123 so I guess we'll see what happens. :)

[2015-06-18 17:16] twillis449 commented on #22
Unfortunately my experience with casa-related issues is that unless one finds a bug specifically related to the VLA or ALMA one can wait a long time before something gets done. :(

[2015-06-18 19:00] twillis449 commented on #22
I see why this stuff disappeared. A search through the source code for casacore 1.7 and casarest shows that objects from this class are not used anywhere! There is an include call for ImageFFT,h in casarest//synthesis/MeasurementComponents/ALMAAperture.h but its not used anywhere in casarest//synthesis/MeasurementComponents/ALMAAperture.cc so compilation still completes after commenting out the in

[2015-06-18 20:47] twillis449 commented on #22
Or maybe not. I downloaded the latest casarest, which is compatible with casacore 2. The ImageFFT code is now in directory casarest/synthesis/Images. It also appears to now be used in a piece of code called ImagePolarimetry. So I guess the modification that would need to be done is to require installation of casarest in addition to casacore, and modify the linking requirements in the MeqTrees buil

[2015-07-14 14:42] gijzelaerr commented on #22
I can confirm installing casarest will solve this problem:

https://github.com/casacore/casarest/releases/tag/v1.3.0

[2015-07-14 14:49] gijzelaerr commented on #22
actually, almost...

[2015-07-14 15:04] gijzelaerr commented on #22
@twillis449 Trying to fix this. We moved casarest to here:

https://github.com/casacore/casarest/tree/master/synthesis/Images

Problem one is that the synthesis/Images headers are not installed, fixing that.

Second problem is if you are right @twillis449 the header structure changed also. In  `MeqNodes/src/UVBrick.cc`:
[code]

while the `synthesis/Images` contains:

[code]

[2015-07-14 15:23] gijzelaerr commented on #22
ok should be solved now. You need to install casarest 1.3.1: https://github.com/casacore/casarest/releases/tag/v1.3.1

And build meqtrees from the master. Will make a new release and update the packages.

[2015-07-14 16:40] twillis449 commented on #22
@gijzelaerr  Thanks for working on this!

I downloaded latest casacore - seems to compile and install OK. I then downloaded casarest 1.3.1 source code gz file, did mkdir build, cd build, cmake .. , but right away I get one of those horrendous bazillion line c++ error messages which seems to come down to

[NRC-005592LX 9:29am] [build]> make
[  1%] Building CXX object components/CMakeFiles/casa_comp

[2015-07-14 17:08] gijzelaerr commented on #22
this is an issue with casarest, moved here:

https://github.com/casacore/casarest/issues/1

[2015-07-14 19:00] twillis449 commented on #22
Looks like the new meqtrees build goes to completion after I got the new casarest to build. :)

[2015-07-14 19:00] #22 closed

[2015-10-09 14:00] o-smirnov opened #24 "can't import TDL scripts doe to six.py / _winreg"
[code]

[2015-10-09 14:02] o-smirnov commented on #24
WTF knows what's going on here. Meqtrees is just scanning the Python module list and checking for a magic attribute -- ``six.py`` doesn't like its attributes checked anymore and pukes. Commens in ``six.py`` mention Django. @gijzelaerr, any idea?

[code]

[2015-10-09 14:14] gijzelaerr commented on #24
so I don't think you have ever thought about writinh python3 compatible code, that is where the six module is for. isn't six installed by accident and maybe there is a module name collision or something?

[2015-10-09 14:17] rdeane commented on #24
aplpy could possibly be the culprit -- I had similar issue recently,
updated aplpy and it was sorted.

On 9 October 2015 at 16:14, Gijs Molenaar <notifications@github.com> wrote:

[2015-10-09 14:21] o-smirnov commented on #24
Egads! Well, no excuse to have meqtrees fall over just because some other package is the wrong version. This is some deep Python hoodoo. Rather than stir the evil beast, easier to hack around it: https://github.com/ska-sa/meqtrees-timba/commit/c3a40856aecf90f318ec8e2268c6bf8e1508e942

Winreg my ass! Microsoft crap will get you everywhere. Especially when you're not looking.

[2015-11-25 21:34] twillis449 opened #25 "browser in state of paralyisis due to SKA-sized data set"
OK - so I have an SKA-sized data set 35 minutes long with 0.1 sec sampling and one channel, so about 19000 baselines with 21000 samples  ->  400 million rows in the MS. I start up the meqbrowser and load turbo-sim.py. Despite not having a .tdl.conf file, turbo-sim seems to hunt for the first (and only) MS it can find, and then goes lot to lunch for the next 16 minutes while it seems to need to kee

[2015-11-25 23:46] IanHeywood commented on #25
Hi Tony. Maybe look into Multi-MS. You can create virtual Measurement Sets on the disk that point to sub-regions of your master MS, and should be interpreted as if they were individual Measurement Sets. That way you don't have to worry about splitting and re-concatenation, your SKA-sized MS can remain intact and hopefully the chunks will be small enough for MeqTrees etc. to digest...

[http://casa

[2015-11-26 01:40] twillis449 commented on #25
Thanks Ian - I'll try that - in any case I'm still having trouble with Calico-based selfcal and have been using the CASA gaincal and applycal tasks. Splitting an MS should certainly speed up those tasks.

[2015-12-01 08:17] o-smirnov commented on #25
@twillis449 could you please post a copy of the console output. Is it just those two messages?

[2015-12-01 17:41] twillis449 commented on #25
Here's the entire output (you can generate the MS with the script make_ms_ska_batch.py in my test_fitting directory on jake). After generating the MS I start up the meqbrowser and load turbo-sim.py. The browser then takes 20 minutes !! before the selection GUI appears .....  I start up at 9:08 AM and GUI finally appears at 9:28 AM

[NRC-005592LX 9:08am] [iono_sims]> meqbrowser
Welcome to the MeqTr

[2015-12-01 22:39] twillis449 commented on #25
By the way - a simple python script to just open the measurement set and load the entire CORRECTED_DATA column into memory on my 16 GB memory laptop only takes 2 min 44 sec.

[2016-01-14 14:58] #24 closed

[2016-01-15 14:00] gijzelaerr commented on #16
fixed

[2016-01-15 14:00] #16 closed

[2016-01-19 10:50] gijzelaerr opened #27 "Wrong things linked to the wrong libraries"
It looks like there are some thing going wrong during linking.

For example the meqserver binary is linked to all kind of libraries (libcasa_synthesis, libmeqnodes, libwcs, libviscube, libcfitsio, octopython, libcasa_images, libapputils, libfftw3) while it does not directly use them. At the same time, various libraries inside meqtrees-timba are _not_ linked to the correct libraries, resulting in a

[2016-05-03 02:02] astrojhgu opened #28 "It may be better to use python2 explicitly"
On some systems, which has both python2 and python3, some meqtrees python scripts cannot run sucessfully. The reason is that these scripts are written in python2, while the first lines are "#!/usr/bin/python" or "#!/usr/bin/env python", which will point to python3.

[2016-05-03 13:41] gijzelaerr commented on #28
is this on a ubuntu 16.04 system?

probably ```#!/usr/bin/env python2``` is best then.

[2016-05-03 14:59] astrojhgu commented on #28
Actually, my system is Archlinux, on which
ls -lh /usr/bin/python
/usr/bin/python -> python3

[2016-08-17 15:36] twillis449 opened #30 "browser 'de-float' icon produces crash"
I'm testing the browser visualization under Ubuntu 16.04.  So I have a plot and then 'float' it. That works OK. But when I want to 'de-float' the plot and return i to the main browser, if I click the 'X' next to the float icon I get the crash message given below and the plot is gone forever.  On the other hand when I click  the system supplied close window icon (the X in the outer window boundary)

[2016-08-17 15:51] twillis449 opened #31 "What happened to QWhatsThis?"
At one time we had access to the QWhatsThis feature and I used this to provide instructions on how to control aspects of the plotting widgets. Unfortunately displaying this option seems to have disappeared although Qt still seems to provide a QWhatsThis widget. I just wasted a couple of days trying to figure out how my N-Dimensional controller works and finally I had to resort to reading the instr

[2016-08-18 09:02] o-smirnov commented on #31
Github's wonderful code search tools tell me it got commented out here: https://github.com/ska-sa/meqtrees-timba/commit/341ce9172c69d970085e4e426ee7690cb4ee7eaf

Don't remember the exact motivation anymore, but I suppose I did that to unclutter the toolbar. It's still there in the Help menu (and accessible as Shift+F1).

[2016-08-18 09:02] #31 closed

[2016-08-18 18:26] twillis449 commented on #31
Thanks for pointing out that shift+f1 works in the help drop-down menu. I'm re-opening the issue because when one does a shift+f1 the WhatsThis panel does appear but there's no text! I think this is my bad somewhere because when I run one of my plugins in stand-alone test mode, the same behaviour appears.  So I'm investigating further.

[2016-08-18 19:20] twillis449 commented on #31
It looks like this may be a PyQt or PyQwt bug. A lot of the PyQwt examples have WhatsThis function calls and just like my stuff a WhatThis window pops up, but without text. I'll try to strip out PyQwt calls in one of the demos and see what happens with a pure PyQt script

[2016-08-19 05:22] twillis449 commented on #31
It would appear that this issue may have some OS dependencies. On 'standard' ubuntu 14.04 and 16.04 with PyQt4 v 4.10 and 4.11 respectively the WhatsThis screen pops up but no text appears.  However , on Xubuntu 14.04 which also has PyQt4 v 4.10, it works.

I'm attaching the most basic script possible to test this issue. Just start it up with your python and hit shift + f1.  It things are working,

[2016-08-19 15:43] twillis449 commented on #31
It looks like this problem is associated with some combination of the terminals / desktop environment that  comes with the ubuntu 'gnome-session-fallback' or 'gnome-session-flashback' packages.

[2017-02-21 17:06] o-smirnov opened #34 "pkg_resources doesn't work under MeqTrees"
OK, we have a serious degradation on 16.04. I can't import scripts into the browser, things bomb out with:

[code]

Funny thing is, ``import Tigger`` by itself from Python is fine. It's under MeqTrees that pkg_resources goes pear-shaped. @gijzelaerr, any bright ideas? This looks a little familiar...

[2017-02-21 17:11] o-smirnov commented on #34
Aha, this is why it's familiar: https://github.com/ska-sa/tigger/issues/74

[2017-02-21 22:07] o-smirnov opened #35 "meqserver falls over trying to insert new MS column on 16.04"
This is a new development, possibly related to new casacore versions. The current batch_test.py in Cattery falls over when the meqserver tries to insert a new visibilities column. Backtrace shows it deep in casacore. Could be a casacore bug, could be a MeqTrees misuse. In any case it's a blocker that needs to be solved.

[2017-02-22 10:36] gijzelaerr commented on #34
not sure if the 2 problems are related.

Are you using the python-tigger package? That package is working fine for me on 16.04.

[2017-02-23 09:40] gijzelaerr commented on #34
by the way, what do you mean with 'into the browser'. Not Jupyter notebooks right?

[2017-03-09 09:34] gijzelaerr commented on #35
This has been isolated and was caused by an update to the casacore package, but meqtrees-timba was not rebuild.

[2017-03-09 09:35] gijzelaerr commented on #34
@o-smirnov are you using the python-tigger package? I doesn't look like it, the backtrace shows python modules are used from your home folder.

[2017-03-09 09:36] gijzelaerr commented on #34
actually it looks like you are mixing a local and package installation.

[2017-03-13 12:02] gijzelaerr commented on #35
this has been solved by a rebuild of timba in kern-dev and kern-2

[2017-03-13 12:02] #35 closed

[2017-03-13 12:03] gijzelaerr commented on #34
@o-smirnov can you elaborate.

[2017-03-13 12:34] gijzelaerr commented on #34
ok we are not the only one https://github.com/pypa/setuptools/issues/508

[2017-03-14 11:51] gijzelaerr commented on #34
ok this is a bug in an old setuptools bunlded with ubuntu 16.04. can't really fix that, so we worked around it by manually setting the version in the package. closing this issue.

[2017-03-14 11:51] #34 closed

[2017-12-08 22:09] IanHeywood opened #36 "Build problems on Ubuntu 16.04"
Trying to build MeqTrees in my home area on a Ubuntu 16.04 machine that I don't own, and getting the following mess. As far as I'm aware the dependencies are all available.

Any help deciphering this will be gratefully received.

Cheers.

[code]

[2017-12-08 23:44] IanHeywood commented on #36
From the PI cluster sysadmin...

[code]

[2017-12-08 23:44] #36 closed

[2017-12-12 14:24] o-smirnov commented on #36
Yeah bit of a mystery. /usr/include is bog-standard for casacore, why would it not have found it? I can only venture that there's something funky on the system (CASA itself in an include path?) which it found first and mistook for casacore.

[2017-12-12 14:58] IanHeywood commented on #36
Yeah, there is something fishy going on. I was careful not to have CASA involved at any point, having fallen foul of that many times.

There's a system-wide installation of MeqTrees which seems to be broken, hence me rebuilding it for myself on this machine. When I ran timba-init.sh and timba-setup is completely butchered my PATH and PYTHONPATH, featuring loads of places associated with the old sy

[2018-03-15 13:25] gijzelaerr opened #37 "Compilation fails on Ubuntu 18.04"
[code]

[2018-03-15 13:25] gijzelaerr commented on #37
I find it weird since it looks like these are issues with timba itself and not one of the dependencies... investigating.

[2018-03-15 13:51] o-smirnov commented on #37
Gah, stupid C++ shizzle...

[2018-03-15 14:13] o-smirnov commented on #37
OK, they are both rather simple errors. I guess g++ has gotten stricter about templates. In the past it didn't bother to compile templated methods that were never instantiated, so if something went unused, it never got checked.

Here, https://github.com/ska-sa/meqtrees-timba/blob/master/MEQ/src/VellsSlicer.h#L217 it should say ConstVellsSlicer0.

This init() call at https://github.com/ska-sa/meqtr

[2018-03-15 15:42] gijzelaerr commented on #37
cool, will fix them when i have time.

[2018-03-16 11:22] gijzelaerr commented on #1
solved per PR #32

[2018-03-16 11:22] #1 closed

[2018-03-16 13:21] gijzelaerr commented on #37
There is much more :/ Looks mostly like namespace issues though. I'll push the changes to a branch
[code]
and
[code]
and
[code]
and
[code]

[2018-05-29 09:17] bmerry opened #40 "Use-after-free leads to segfault"
I'm not 100% this is the segfault I'm seeing (because KERN doesn't have debug symbols for timba), but it looks suspicious: at [this line](https://github.com/ska-sa/meqtrees-timba/blob/a86161a2ceb1c27b18de3aa4f65525d2a204c5c8/OCTOPUSSY/src/GWServerWP.cc#L251) `sock` is used, but it was zeroed 10 lines higher up. It should presumably use `errstr` which has already been extracted.

[2018-05-29 09:33] bmerry opened #41 "meqtree-pipeline.py: -d option does not work"
Passing e.g. `-dOctopussy=2` to meqtree-pipeliner.py gives this error
[code]

The culprit is [this line](https://github.com/ska-sa/meqtrees-timba/blob/a86161a2ceb1c27b18de3aa4f65525d2a204c5c8/PyApps/src/meqtree-pipeliner.py#L61), which stuffs the options in a dict which isn't defined (and nothing gets done with it later).

[2018-05-29 13:45] bmerry commented on #40
To reproduce the bug:
1. Check out ska-sa/katsdppipelines@458c3da (current master). NB: it's a private repo.
2. Change to `katsdppipelines/katsdpimager`
3. Build a Dockerfile with the following content, call it meqtrees:
[code]
4. Save the following to report-test.sh:
[code]
5. Run
[code]

[2018-05-29 13:45] bmerry commented on #40
@bennahugo reproduction instructions above as requested.

[2018-05-29 13:56] o-smirnov commented on #40
@bmerry you're absolutely right. I don;t understand why it hasn't shown its face before, but it is undeniably the bug.

[2018-05-29 14:04] bmerry commented on #40
@o-smirnov Is there any way I can find out what the socket error actually was, when it's run under meqtree-pipeliner.py? My attempts to increase logging levels have so far been unsuccessful.

[2018-05-29 14:43] bennahugo commented on #40
Thanks @bmerry I will try and reproduce

[2018-05-29 16:01] bmerry commented on #40
The root cause seems to be some interaction with the other packages that are installed. This Dockerfile works:
[code]
This one does not:
[code]
The only difference is python-pip. However, just adding python-pip to my original minimal Dockerfile also doesn't work, so presumably one of the `casa-*` packages AND python-pip is needed (it might of course be some dependency of these packages that is act

[2018-05-30 08:41] bmerry commented on #40
Now that I try things again, it does seem to just be python-pip. This Dockerfile is working:
[code]
I'll leave someone else to figure out **why** that should matter. What's particularly strange is that I don't have a problem if I do a 10x reduction on the size of the dataset, whereas if it was just a missing dependency I'd expect it to crash independently of the size of the data set.

[2018-05-30 08:51] o-smirnov commented on #40
A crude print statement would probably be the fastest way. I presume you're referring to this problem: https://github.com/ska-sa/meqtrees-timba/issues/41? I'll try to fix both issues later today.

[2018-05-30 09:01] bmerry commented on #40
I meant is there a way to get more debugging without recompiling things (since that sometimes makes the problem disappear)? From a readme it looks like Octopussy has some config files where one can adjust logging options, but I didn't manage to get them to do anything.

[2018-05-30 09:28] bmerry commented on #40
Aargh! It seems that adding python-pip to our Jenkins image *doesn't* fix the problem. At this point I'm guessing that it's just random and all I'm doing is stirring the initial conditions in ways that mask or expose the bug.

I give up. I think this needs someone with knowledge of the internals to debug the root cause, rather than me messing about <s>sacrificing random objects to random gods</s>

[2018-05-30 09:38] o-smirnov commented on #40
So it fails within Docker but not outside of Docker? I'll try to take a look today, modulo my horrible internet.

[2018-05-30 10:07] bmerry commented on #40
I haven't tried it outside of Docker. I originally hit the problem in Docker, and I stuck with that since it made it much easier to experiment with changes without mucking up my system.

[2018-06-11 11:30] bmerry commented on #40
@bennahugo did you try to reproduce this?

[2018-06-29 14:01] bmerry commented on #40
I figured out what was causing the error path to be hit in the first place: my minimal Docker image didn't install netbase, which provides /etc/protocols. LOFAR::Socket uses getprotoent to translate "tcp" into the protocol number, which fails without this file.

[2018-07-02 14:20] #40 closed

[2018-11-06 09:39] adrianjhpc opened #43 "meqtrees-timba does not compile under gcc 6.2.0"
There are a couple of files that cause compilation problems with gcc 6.2.0. Specifically they produce errors like this:
TFSmearFactor.cc:75:24: error: call of overloaded ‘abs(double)’ is ambiguous
     if( abs(freq0-freq1)/midfreq < narrow_band_limit_ )

This can be fixed by adding the cmath headers in to the files in question:

meqtrees-timba/MeqNodes/src/PSVTensor.cc
meqtrees-timba/MeqNodes/src/

[2018-11-06 09:42] adrianjhpc commented on #43
If you give me commit permissions for the repo I can create a pull request for a fix for this.

[2018-11-06 10:09] gijzelaerr commented on #43
hi @adrianjhpc , you don't need commit access to issue a PR. you can fork the repo (up right), commit to a branch on that repo and then issue a PR from your fork to the main repo.

[2018-11-07 15:04] #43 closed

[2018-11-07 15:05] gijzelaerr commented on #37
this has been fixed in the meanwhile

[2018-11-07 15:05] #37 closed

[2018-11-07 15:06] gijzelaerr commented on #27
this is caused by missing SO version information in the dependencies.

[2018-11-07 15:06] gijzelaerr commented on #27
ah yeah, that has been reported before https://github.com/ska-sa/meqtrees-timba/issues/5

[2018-11-07 15:06] #27 closed

[2018-11-07 15:07] gijzelaerr commented on #6
NOBODY CARES. So lets just close this issue to safe space on the internet.

[2018-11-07 15:07] #6 closed

[2018-12-04 06:54] gijzelaerr opened #45 "port to py3"

[2018-12-21 11:40] #28 closed

[2018-12-21 11:41] gijzelaerr commented on #45
i think this is too much work for now.

[2018-12-21 11:41] #45 closed

[2019-03-28 00:26] twillis449 opened #47 "turbo-sim.py skymodel issues"
First @o-smirnov and @gijzelaerr  thanks for porting MeqTrees into the KERN environment - that must have been a Herculean task!

Thinks seem to be working for me with the exception that the venerable turbo-sim.py script seems have an issue. When I want to specify a skymodel, the tigger-lsm option works. But if I want to specify a skymodel such as Siamese.OMS.gridded-sky, etc. nothing happens when

[2019-03-28 08:11] gijzelaerr commented on #47
hm... i can't really help you since I have no idea what is supposed to happen. @o-smirnov ?

[2019-03-28 14:16] twillis449 commented on #47
Totally weird - this morning (for me) its working properly. Maybe there was some quantum mechanical fluctuation in the cosmos yesterday.

[2019-03-28 14:44] o-smirnov commented on #47
We used to blame cosmic rays for these things! Glad it works --reopen the issue if you spot it again.

[2019-03-28 21:22] twillis449 commented on #47
Well, I can see what's happening - not sure why but ... When I tried running the current turbo-sim.py yesterday it was from a somewhat ancient directory with a whole bunch of other rather ancient TDL scripts. Something there is confusing the current turbo-sim.py because when I run from a completely fresh directory with no other TDL scripts, everything works OK. So, anyway, probably not work pursui

[2019-03-29 07:43] twillis449 opened #48 "baseline visibility visualization doesn't work in current KERN version"
It's apparent that nobody uses the MeqTrees visualization stuff to look at individual visibilities! If you do you get the error
  File "/usr/lib/python2.7/dist-packages/Timba/Plugins/display_image_qt4.py", line 3325, in array_plot
    temp_str1 = "sd: %-.3g" % plot_array.std(dtype=numpy.complex128);
TypeError: float argument required, not MeqVells

I've unfortunately forgotten some of the deeper c

[2019-03-29 18:42] twillis449 commented on #47
I'm going to re-open this issue for a slightly different reason. I can now indeed select any of the skymodel types. But using the tigger-lsm model by itself in turbo-sim.py seems to fail (most) of  the time with  errors of the form: node 'sink:10:11': shape of child result does not match output column (while getting result for request ev.0.0.0.0.1)  and nothing gets written out to the MS. However

[2019-03-29 20:15] o-smirnov commented on #47
Is your lsm a point source at phase centre per chance? There's the old
problem that it never handled the lack of a frequency axis gracefully....

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Fri, 29 Mar 2019, 18:42 Tony Willis, <notifications@github.com> wrote:

[2019-03-29 21:24] twillis449 commented on #47
!@#$%^ damn - I'd forgotten about that.  :(  I've been banging my head against the wall for about three days with this problem - trying MeqTrees installs on different machines etc.  But you handle a gridded sky cross model with only one source in each direction (so at the field centre)  absolutely perfectly. I would have thought that deep in the system you must end up handling things the same way?

[2019-03-29 21:25] o-smirnov commented on #47
I think I added some tiny number to the lm in the gridded models to get
around this problem...

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Fri, 29 Mar 2019, 21:24 Tony Willis, <notifications@github.com> wrote:

[2019-03-29 21:41] twillis449 commented on #47
aarggghhh!!  :)

[2019-03-29 21:41] #47 closed

[2019-04-11 09:57] bennahugo opened #49 "Unexpected thread state when solving des"
[code]

Parset options:
[code]

[2019-04-11 09:59] bennahugo commented on #49
@o-smirnov any ideas?

[2019-04-11 10:02] bennahugo commented on #49
I think some tiles are already fully flagged

[2019-04-11 10:02] o-smirnov commented on #49
Google just shows a bunch of shoes. Probably means we're hosed?

[image: image.png]

On Thu, Apr 11, 2019 at 11:59 AM Benjamin Hugo <notifications@github.com>
wrote:

[2019-04-11 10:04] o-smirnov commented on #49
Yeah I'm not sure it handles that gracefully. Maybe rerun with bigger tiles?

On Thu, Apr 11, 2019 at 12:02 PM Benjamin Hugo <notifications@github.com>
wrote:

[2019-04-11 10:57] bennahugo commented on #49
Hmm no it looks like something more insidious:
Running in serial it works...
[code]

[2019-05-29 17:28] twillis449 opened #50 "long-term browser visualization issues"
First of all I'm not sure how much anyone actually uses the MeqTrees inspector visualization tools for actually looking at visibility data. If no-one does then changes are probably not necessary and I won't waste my time further. However I use this stuff quite a bit and as I recall commenting in some other thread, while the inspectors worked reasonably well with WSRT / VLA sized data sets, they ge

[2019-05-29 17:51] bennahugo commented on #50
@twillis449 if I recall from my py3 efforts (which I will resume after porting cubical, which is essentially ready and undergoing final tests) several of the visualizers use some combination of  PyQwt and Qt4. With python 2.7 support ending soon I would say we need to first make sure that there will be a meqtrees in the long term before undertaking specific changes to the visualizers. The python 3

[2019-05-29 18:00] twillis449 commented on #50
Good point about PyQwt and Qt4  @bennahugo

[2019-05-29 18:13] bennahugo commented on #50
Is there any particular reason why these plots cannot be ported to a actively maintained library like matplotlib or bokeh? @o-smirnov @twillis449 I know the Qwt libary was probably the greatest thing since apple pie when meqtrees was conceptualized, but it looks abandoned (https://github.com/PyQwt/PyQwt4), unless it has moved somewhere else. If we are going to invest serious time here it may be be

[2019-05-29 18:16] bennahugo commented on #50
https://matplotlib.org/3.1.0/gallery/user_interfaces/embedding_in_qt_sgskip.html

[2019-05-29 19:27] twillis449 commented on #50
The original argument for using PyQwt back around 2004/2005 was that it plotted data much faster than did the version of matplotlib available at the time. Whether or not that is still true I have no idea. When he abandoned support for PyQwt back around 2010 the original developer recommended a switch to pyqtgraph (https://github.com/pyqtgraph). @bennahugo - as you say the question is it better to

[2019-05-29 19:44] ludwigschwardt commented on #50
There is also this attempt at Py3 + Qwt6:

https://github.com/GauiStori/PyQt-Qwt

[2019-05-29 19:50] twillis449 commented on #50
@ludwigschwardt  Thanks - I was not aware of this port. I'll download it and test out the examples.

[2019-05-29 22:11] bennahugo commented on #50
@ludwigschwardt interresting thanks for suggesting.

I had a quick look, their build system is very rudimentary, lacking setuptools / pip support so it complicates the install process significantly. There is no opportunity for getting a pip installable package out that fits in with a standard python workflow until this is fixed.

I found another pure python package https://pypi.org/project/PythonQ

[2019-05-29 22:33] twillis449 commented on #50
@bennahugo  I got the package suggested by @ludwigschwardt  compiled and installed in about 2 min flat in the anaconda python3 environment and all the examples there work properly. I just had to get the base packages e.g. PyQt5 etc installed via the ubuntu package manager and then follow the instructions in the README.md file. This variant is already working with Qwt6 and python3 whereas PythonQwt

[2019-05-30 07:14] bennahugo commented on #50
Alright if you're convinced this package will work then I can put in the time to package it properly - clearly we can't sudo install .py and .so files directly into /usr as these things cannot be removed later on. I prefer our python dependencies to have wheels so they can be listed as dependencies and installed and removed cleanly

[2019-05-30 14:28] twillis449 commented on #50
Let me see how far I get. Over the lifetime of Meqtrees we've migrated from glish to python, from qt3 to qt4 and from Qwt 2 to Qwt 5 so migration is doable. :)

[2019-05-30 18:57] twillis449 commented on #50
After working on this stuff for a couple of hours I can say that the biggest hurdle is the migration from qt4 to qt5.  Lots of syntax changes and the signals / slots interface seems to have become very complicated. So far I only found one Qwt function that I use which has not been wrapped in https://github.com/GauiStori/PyQt-Qwt and I've filed an issue with the developer there.

[2019-05-30 20:14] o-smirnov commented on #50
I would be very careful before pouring major effort down that particular rabbit hole. If there's a quick fix, by all means let's go for it, but if it requires major coding effort, then perhaps it's time to step back and put this one to bed... the browser-based visualization has had a good innings, and has been incredibly useful for years, but can we really make it scale to MeerKAT's 2000-odd basel

[2019-05-31 05:53] bennahugo commented on #50
@twillis449. The question here is, is it critically necessary to port to qt5 in making the gui python 3 compatible and ensuring long term support. The claim to fame on https://github.com/GauiStori/PyQt-Qwt
is that it works with qt4 and 5. There is a debian package for python3-pyqt4 that works:

[code]

[2019-05-31 08:06] gijzelaerr commented on #50
To add to the discussion, a while ago i started porting tigger to py3 and
qt5+pyqwt, which was almost complete:

https://github.com/ska-sa/tigger/tree/qt5
https://github.com/ska-sa/tigger/tree/py3
<https://github.com/ska-sa/tigger/commits/py3>

The only thing missing was some widgets that are not implemented in pyqwt,
which I mocked in todo.py.

It became a bit of a mess, the first thing I would d

[2019-06-24 21:59] twillis449 commented on #50
Just an update report ... I've been messing around with both PythonQwt (https://pythonhosted.org/PythonQwt/) and PyQt-Qwt https://github.com/GauiStori/PyQt-Qwt) They both seem to work reasonably well. I've decided to settle on PythonQwt because it's pure python code that works with either python2 or python3 and PyQt4 or PyQt5 and since one has the source code it will never become 'obsolete' as the

[2019-06-27 09:58] gijzelaerr commented on #50
Hey Tony, did you see my PR and description of required changes?

[2019-06-27 16:06] twillis449 commented on #50
@gijzelaerr No, I do not believe I've seen those documents.

[2019-06-27 16:23] gijzelaerr commented on #50
See comment before, there is a to-do document somewhere, forgot where. Maybe useful, maybe not. I think I was quite close.

[2019-06-27 17:57] twillis449 commented on #50
@gijzelaerr  - Hum, I can't spot anything obvious in the repositories you mention.  Anyway one package I've found useful is to run pyqt4topyqt5.py (https://github.com/rferrazz/pyqt4topyqt5) for a first pass through the code. It spots all the signals that have to be turned into pyqtSignals.  Unfortunately, if the signal has parameters you have to specify the type of the parameters to the pyqtSignal

[2019-06-30 20:43] twillis449 commented on #50
Hokey-dokey - all plotting widgets now seem to be working with python 3 / PythonQwt/ qt5. Or at least my test programs are :) Eventually some of the widgets will need to send signals to each other, but I can't test that stuff until the higher level  MeqTrees  interface code is up and running in python 3.

After some trial and error I found that the best way to proceed with the upgrade was
1) run t

[2019-07-01 07:56] gijzelaerr commented on #50
I was talking about this file:

https://github.com/ska-sa/tigger/blob/qt5/TigGUI/todo.py

I centralized all the missing widgets, and rewrote most of the signaling.

but it looks like you are further in the meanwhile. I didn't knew about that qt convert script, cool.

keep up the good work :)

[2019-07-09 20:49] twillis449 commented on #50
Update -  as of today just about everything now working as a part of the MeqBrowser plugin system. Since python 3 syntax requirements were already optional in the latest python2.7 release I can run all the updated visualization scripts under the python2 based meqbrowser. This testing revealed numerous got-ya's etc which the stand-alone test programs did not reveal - e.g. problems with ColorBars co

[2019-07-09 20:58] o-smirnov commented on #50
Geez @twillis449 that's an amazing achievement. I really feared this would be a hoary undertaking -- I should never have doubted you!

At this rate you might find yourself volunteered for missing Tigger display widget duty... ;)

[2019-07-12 08:11] bennahugo commented on #50
Great work @twillis449. Can you start a PR with your changes for review and incorporation? This makes my life significantly easier thanks ;). Once I've found the bug that is hampering the communication between the browser and the server in python 3 mode we should have a working py3 version.

[2019-07-12 19:16] twillis449 commented on #50
@bennahugo - OK will do so. BTW - regarding your comments back on May 29 - further testing does show that the python plotting stuff of particularly the 'stripchart' plots is indeed slower than is the case with the C++ Qwt interface. I'm still using the same underlying python numpy stuff that I used in the original python2 version of the code for the data handling,  so the slowdown must come from t

[2019-07-15 20:18] twillis449 commented on #50
@bennahugo I've created a branch named qt5-plugins with my updated code and have generated a pull request.

[2019-07-16 22:53] twillis449 commented on #50
@o-smirnov Are you aware of anyone else except you (and occasionally  me) who uses the Meqtrees solver for anything these days? I've run across a minor annoyance in moving to Qwt6 that makes it hard to plot all the various metrics that the solver produces e.g. chi_sq surfaces. I suspect that this was originally something JEN wanted way back when, and has never been used seriously by anyone else. T

[2019-07-17 06:42] IanHeywood commented on #50
Ah, the legendary "Nosebleed Plots".

[2019-07-17 14:33] bennahugo commented on #50
Haha... thanks I will take it for a spin locally before merging.

I think the current automated pull request test infrastructure for timba is a bit inadequate (a full test is only invoked in pull requests to cattery). I will remedy it on the branch.

[2019-08-01 22:42] twillis449 commented on #50
I think I've taken this stuff about as far as I can at the moment. There appear to be two bugs in PythonQwt that cause me problems. 1) when when I generate cross-section plots of an array of visibility data, the Qwt 'delete' function should cause them all to disappear, but somehow some of them seem to 'stick around'. This issue also affects the 'Solver' plots. 2) for some reason when one wants to

[2019-08-03 13:53] bennahugo commented on #50
Alright I'll have a detailed go at it next week. Sorry been quite busy
trying to get dE calibration working with our massive bandwidth.

Regarding the bugs that is quite concerning although I'm sure we can fork
and fix them.

Regarding MeerKAT sized sims I still think offline visualization is better.
We now have a small group working on fast visualization with DASK and
numba. @ianheywood, myself a

[2019-08-07 20:39] twillis449 commented on #50
Re Bugs:

1) PythonQwt does not seem to properly count the number of active QwtPlotCurves so when you want to delete them all using the PythonQwt build in function to find and delete all QwtPlotCurve objects they do not all seem to go away. Solution - generate your own 'dict' of QwtPlotCurves and delete all the ones in the dict. This gets rid of all cross sections in a visibility data display.

2)

[2019-08-16 08:42] bennahugo commented on #50
@twillis449 I finally have some time to do testing and dev. I'm running into ibus connection problems it appears that qt5 / qwt now requires an ibus connection do you have a workaround that don't require starting up the ibus deamon externally?

Secondly it looks like there is some gui threading problems:
[code]

This is a fresh virtualenv with all the packages installed including python-qwt

[2019-08-16 08:59] bennahugo commented on #50
Nevermind grabbing a newer qt5 solved the threading problems. Ok I have it running however I get the following:
[code]

[2019-08-16 10:12] bennahugo commented on #50
Ok so far so good although I'm getting sporadic signal connection problems:
[code]

[2019-08-16 12:44] bennahugo commented on #50
@twillis449 When I try connecting up the gain plots it says it can't find collections plotter. I'm guessing it is bacause those plugins fail to load.

[2019-08-16 16:39] twillis449 commented on #50
@bennahugo To answer your questions ...

1) to get rid of the 'API 'QString' has already been set' errors, at the beginning of meqbrowser.py I had to insert

import sip
sip.setapi('QString', 2)
sip.setapi('QVariant', 2)
sip.setapi('QDate', 2)
sip.setapi('QDateTime', 2)
sip.setapi('QTextStream', 2)
sip.setapi('QTime', 2)
sip.setapi('QUrl', 2)

This has something to do with the fact that all python

[2019-08-16 17:01] twillis449 commented on #50
I've pushed an updated version of PyApps/src/icons/treebrowser/table,png to my branch on github. The icon should now load, although there's still a warning message but will no longer crash.

[2019-08-16 17:16] bennahugo commented on #50
Thanks Tony.

I am testing your changes in a python 2 environment first. Everything still
runs. It is just the visualizers I've had problems with.

This is very puzzling that the SIP api requires setting these variables
depending on environment. I'll have a look at the API. Maybe we can use six
to set these appropriately

Explicitly casting strings to UTF8 encoding should work in python 2 and 3
(o

[2019-10-25 21:23] twillis449 commented on #50
Hey @o-smirnov @bennahugo  looks like this thread has gone totally dormant. Any progress been made with the port to python3? I'm back from my holiday and my brain is starting to wake up!

[2019-10-30 13:14] bennahugo commented on #50
@twillis449 sorry for the lack of progress on this front. I've been a bit distracted by my phd work and porting some of the other packages. When I last worked on this I couldn't get the meqserver communicating with the browser in python 3. I'm still stuck on that front but I'm hoping I will be able to fix that soon

[2019-11-13 05:04] bennahugo commented on #50
This has been accepted and merged

[2019-11-13 05:04] #50 closed

[2019-11-13 05:05] bennahugo commented on #48
@twillis449 was this part of your fixes?

[2019-11-13 06:02] twillis449 commented on #48
Yes, that should have been fixed in the Qt5 version of the code that I checked in.

[2019-11-13 06:18] bennahugo commented on #48
Thanks then I'm closing this ticket.

[2019-11-13 06:18] #48 closed

[2020-02-17 21:02] adrianjhpc opened #54 "DBM not listed as install dependency"
The DBM package is not listed as a build dependency but is required if building from source.

[2020-05-04 06:59] bennahugo opened #58 "casacore 3.3 breaks install"
[code]

[2020-05-04 11:38] o-smirnov commented on #58
I raised it on casacore.

[2020-05-08 04:06] bennahugo commented on #58
ok this is fixed. We are now using casacore 3.3 and casarest 1.7 across the Meqtrees suite

[2020-05-08 04:06] #58 closed

[2020-10-11 20:51] twillis449 opened #59 "PyQt4 still being used in some meqtrees scripts."
Some scripts, such as meqbrowser.py, are still using PyQy4 . At a minimum I suggest transiting to PyQt5, as python-land will be migrating to PyQt6 in the not-too-distant future. I'm suspicious that this use of PyQt4 may be causing some of the problems I've had getting a working MeqTrees system up and running recently.

[2020-10-19 09:51] Athanaseus opened #60 "if you try to use await as a variable or function name, this will cause a SyntaxError if your code is for Python 3.7 or later."
[code]

[2020-12-09 13:56] bmerry commented on #60
This doesn't seem to be fixed e.g. I'm still hitting the error on [this line](https://github.com/ska-sa/meqtrees-timba/blob/2a338e142c86cccd93a4ef75c90dcec6654ae9e1/PyApps/src/Apps/meqserver.py#L127) when building from master.

[2020-12-15 07:53] bmerry commented on #59
It's also getting pulled in by meqtree-pipeliner.py:
[code]

[2020-12-15 08:09] bennahugo commented on #59
Hi as discussed with @Athanaseus  we will try backport and ship PyQt4 for Ubuntu 20.04. I don't think we have the capacity on our side to rewrite the Meqtrees gui in Qt 5 with all the new form event handling system, since it is no longer actively used in our team - it is being replaced by Dask based commandline tools. I think we can try isolate it from the pipeliner. That should be do-able.

Note

[2020-12-15 18:38] twillis449 commented on #59
Actually,  I've done much of the coding to make things work with PyQt5 (including modification of a lot of python scripts originally written by @o-smirnov  but I'm not sure which version/branch of MeqTrees to check out to test if things are working. I was actually held up by some octopussy script which @Athanaseus was going to fix - has that been done? The pyqt4toqt5 (sic?) script that's available

[2021-01-06 06:35] #60 closed

[2021-01-06 06:37] bennahugo commented on #59
I have decoupled some of the pyqt4 dependency in the scripts - if it is not installed the pipeliner will still run. This solves @bmerry's issue on ubuntu 20.04. @twillis449  if you can make a PR with your pyqt5 changes I can have a look and see how much there is left to do

[2021-01-06 18:32] twillis449 commented on #59
@bennahugo OK - will  work on this.

[2021-01-20 00:17] twillis449 commented on #59
Still working on this but making progress. I'm starting to hate Qt and PyQt - why can't they provide interfaces for backward compatibility - I guess they want to create jobs for life - grrrr!

[2021-01-29 17:38] twillis449 commented on #59
An example of inconsistencies in signals/slots in our code. We have pyqtSIGNAL, SIGNAL,  pyqtsignal, and Signal at the moment being imported from various sources. I'm trying to straighten things out ... There are also a few scripts that are proving difficult to upgrade to PyQt5. And thank the good Lord for the existence of Stackoverflow and StackExchange websites :)

[2021-01-29 18:09] bennahugo commented on #59
Thanks a lot Tony. I think it is a massive undertaking. Sorry I can't help
with this for the moment, but feel free to assign me to review as you go
along.

There is also the issue of keeping the pipeliner working and detangled from
all the qt requirements...

On Fri, Jan 29, 2021 at 7:38 PM Tony Willis <notifications@github.com>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy

[2021-01-29 18:12] bennahugo commented on #59
Do note there is qwt5 bug that I have fixed on my repository of it. The
owner of the original project hasn't yet accepted my PR for it, but I know
it caused issues
for me when I did the porting to py3.

https://github.com/bennahugo/PythonQwt

Maybe he has since fixed it in another way. It is worth checking because I
hope the qwt5 project remains supported.

On Fri, Jan 29, 2021 at 8:09 PM Benna Hu

[2021-01-29 18:51] twillis449 commented on #59
I found an annoyance in the latest PythonQwt (v0.8) - the owner added a  test so that you cannot have X data of say type float32 and the y-data of type float64 and somewhere deep in my system (I can't figure out where) I can at some stage send in y-data of type  float64 while the x  data remains at type float 32. Anyway, since I have the actual code, I've just commented out that test.

Unfortunate

[2021-01-29 19:19] bennahugo commented on #59
Yes I noticed that too - I hope this package doesn't disappear into the
vaults of abandonware. Ultimately we need a stable
pypi released package to actually build debian dependencies for MT and to
make sure we don't start clashing between packages.
If we need to start doing multiple custom versions of packages we land up
in CASA land - I'm still convinced if I put a bootloader into that
monolithic

[2021-01-29 21:59] twillis449 commented on #59
I'm fed up with Qt because it started out as a nice system for developing GUI interfaces but has now become some sort of gigantic multi-tentacled octopus(sy). I tried to compute Qt5 a week or two ago and the compilation ate up some 45 Gb of disk space before it crashed as I had run out of disk space. :(

Anyway @o-smirnov  I'm now completely stumped as I get the error:
File "/usr/local/lib/python3

[2021-01-30 01:09] razman786 commented on #59
I had a similar issue when looking at PythonQwt amongst others for updating Tigger from PyQt4 to 5. I concluded that QWT is quite feature rich but was lacking a maintainer; like most of the other Py-based solutions. Once QWT had a new maintainer and seemed active once more, I found the Python wrapper (PyQt-Qwt) to be the most feature rich interface to provide a bridging solution that was most simi

[2021-01-30 01:13] razman786 commented on #59
I completely agree and sympathise.

Compiling Qt is a bit of a monster, but apparently it’s ‘Cute’… try doing it on a Mac… enough said there I think. Thankfully, Gentoo takes the pain away for me. Although, I have a slight reverse on the situation of going from PyQt4 to 5, as I know PyQt 5 and feel like I’m kind of porting backwards, from the strange to the norm.

Hopefully, I am correct in thinki

[2021-01-30 05:04] bennahugo commented on #59
Thanks a lot Raz. Do let me know when I should review your work. Tigger
still fills that gap between science publication quality figures (which can
really be made very well within the astropy / aplpy realm and quickly
blinking through a set of images on the same frame (which would be four or
5 individual steps in something like ds9, taking difference maps (which
would require actually entering ipy

[2021-01-30 11:59] razman786 commented on #59
Will do! At the moment I’m still watching your Tigger video to work our what’s not working properly  - debugging via video, lol. Hopefully, I can make the fancy functionality a bit more slick and give it a fresh feel.

It is reassuring that there is a deb package for it, but I do find translating C++ docs into Python and debugging it quite a pain. I do quite like PyQtGraph (http://www.pyqtgraph.or

[2021-01-30 22:55] twillis449 commented on #59
Thanks for your various comments guys. some responses - both PyQt-qwt (author GauiStori) and python-qwt (author Raybaut) are available as packages on Ubuntu 2.04 LTS. Unfortunately, the python-qwt package is still at release 0.5.5 and doesn't seem to work properly (at least not for me) whereas the current github code does seem to work, so that's what I'm currently using.  Also, interestingly the c

[2021-01-30 23:27] razman786 commented on #59
Ah, QtPy, I tried this some time ago but it did not gel well when trying to freeze Python code into a standalone binary, so I just went with PySide2, and for sure, yes it should just work. Funny enough I have had times where having both PySide and PyQt installed at the same time caused strange errors.

Headaches indeed!

Will defo let you know if something arises from the PyQtGraph porting!

:)

[2021-02-12 10:58] o-smirnov opened #66 "Divorce the GUI!"
As we move to KERN-7, there are many Qt issues to be resolved. Therefore I suggest we break out the browser into a separate package, ``meqtrees-browser``, leaving zero Qt dependencies in ``meqtrees-timba``. Work on porting the browser can proceed at its own pace then.

This should not be hard. The entirety of the browser code is under ``PyApps``. We just need to retain the non-browser bits in ``Py

[2021-02-12 11:23] bennahugo commented on #66
Ok, I have already done some work towards this as is currently released - qt4 will be used if and only if it is on the system. Otherwise, the drop in signal events notification will take the president. So in principle, you should be able to move the files without much pain.

I think this affects @twillis449 so just tagging him in here.

[2021-02-12 11:48] bennahugo commented on #66
The only issue is the Purr / kittens stuff also technically needs qt4. So maybe pyqt4 can just be added as optional dependency here?

[2021-02-12 20:33] twillis449 commented on #66
I'll survive. :)

@o-smirnov - here's a couple of actual blockages - in Plugins these three pieces of code seem to need a complete update: array_browser.py, parmfiddler.py, and TableInspector.py These scripts all have some dependency on QTable. As far as I can see QTable has not been part of PyQt since PyQt3, so how its even worked with PyQt4 is beyond me. It probably needs to be replaced by QTabl

[2021-09-05 00:21] twillis449 commented on #66
Sigh - I don't have time to figure out this new authentication token stuff. When I do a git push it still asks me for a password. I'm leaving for a holiday till the end of September tomorrow AM. Anyway I'm attaching a tar file of my current PyApps directory.x-special/nautilus-clipboard
copy
file:///home/twillis/Documents/PyApps.tar.gz

[2021-09-06 11:20] bennahugo commented on #66
Thanks @twillis449 I will push it and make a PR - it is as simple as using an ssh key to push by default

[2022-01-26 15:27] bennahugo opened #68 "Timba fails to build against casacore 3.4 (KERN 7)"
[code]

I'm busy devorsing the GUI (#66), but I think this is slightly higher priority to fix first -- if we can get it to build we can at least produce a package as the Qt stuff has been optional dependencies for quite some time

[2022-01-27 06:09] #68 closed

[2022-02-03 16:07] twillis449 commented on #66
Sounds like you're getting there :}
The current GUI would never work with current TByte+ sized visibility data sets in any case.

[2022-02-09 08:49] bennahugo commented on #66
Ok this is fixed --
@twillis449 and @o-smirnov please note the install instructions have now changed quite substantially
https://github.com/ska-sa/meqtrees/wiki/BuildFromSource

Although you can muck with PYTHONPATH, LD_LIBRARY_PATH, and PATH as before I highly recommend that you just install this into a virtualenv.

[2022-02-09 08:49] #66 closed

[2022-02-09 08:54] bennahugo commented on #66
I've asked @Athanaseus to release the pipeliner for Kern 7 and above as all the dependencies, including casarest now have packages on 20.04.